<!-- Cards -->
<section>
    <div class="container">
        <h1 class="text-3">Pick the plan that's right for you</h1>
        <div class="row justify-content-center">
            <div class="card product_card" style="width: 18rem; background-color: #cd7f32;">
                <div class="card-body">
				    <h2 class="card-title">{{ pc_bronze }}</h2>
					<h4>${{ pc_bronze.pc_value }}</h4>
				    <h6 class="card-text">✓  720p<br>✓  1 screen to watch at the same time<br>✓  Ad-free</h6>
                </div>
            </div>
			<div class="card product_card" style="width: 18rem; background-color: #c0c0c0;">
                <div class="card-body">
				    <h2 class="card-title">{{ pc_silver }}</h2>
				    <h4>${{ pc_silver.pc_value }}</h4>
				    <h6 class="card-text">✓  1080p<br>✓  2 screens to watch at the same time<br>✓  Ad-free</h6>
				</div>
            </div>
            <div class="card product_card" style="width: 18rem; background-color: #ffd700;">
			    <div class="card-body">
				    <h2 class="card-title">{{ pc_gold }}</h2>
				    <h4>${{ pc_gold.pc_value }}</h4>
				    <h6 class="card-text">✓  4K+HDR<br>✓  4 screens to watch at the same time<br>✓  Ad-free</h6>
				</div>
            </div>
        </div>
    </div>
</section>